<a href="https://colab.research.google.com/github/sankarramamurthy/Python-Practice/blob/master/MyBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
This is Sankar's notebook for learning the basics of Python

In [ ]:
print("Hello World!")

Hello World!

# Expressions

In [5]:
#Expressions
20 + 30

50

In [6]:
"*" * 50

'**************************************************'

# Variables and Types

In [8]:
#It is a best practice to use lower case for variables; use _ to separate two parts of a variable name
#Integer getting assigned to a variable
students_count = 1000

#Float getting assigned to a variable
rating = 4.99

#Boolean getting assigned to a variable
is_published = True

#String getting assigned to a variable
course_name = "Python Programming"

#Usage of triple quotes
message = """
Hi John,

Hello, how are you?
blah blah blah.....

Thanks
"""

# String Functions

In [13]:
print(len(course_name))
print(course_name[0])
print(course_name[-1])
print(course_name[0:3])

18
P
g
Pyt

In [15]:
#If you want to include a double quote within a string, you should use a back-slash or escape character
course = "Basic \"Python\" Programming"
print(course)
# \" is called an escape sequence. Another example of an escape sequence is \\ i.e. if you want a string that contains a back slash
# another eg of an escape sequence is \n which will insert a new line

Basic "Python" Programming

In [ ]:
x = 20
y = 30
z = x + y
print("The sum of " + str(x) + " and " + str(y) + " is " + str(z))

The sum of 20 and 30 is 50