<a href="https://colab.research.google.com/github/sankarramamurthy/Python-Practice/blob/master/MyBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
This is Sankar's notebook for learning the basics of Python.
Ref: https://www.youtube.com/watch?v=K5KVEU3aaeQ&t=3974s

In [ ]:
print("Hello World!")

Hello World!

# Expressions

In [ ]:
#Expressions
20 + 30

50

In [ ]:
"*" * 50

'**************************************************'

# Variables and Types

In [ ]:
#It is a best practice to use lower case for variables; use _ to separate two parts of a variable name
#Integer getting assigned to a variable
students_count = 1000

#Float getting assigned to a variable
rating = 4.99

#Boolean getting assigned to a variable
is_published = True

#String getting assigned to a variable
course_name = "Python Programming"

#Usage of triple quotes
message = """
Hi John,

Hello, how are you?
blah blah blah.....

Thanks
"""

# String Functions

In [ ]:
print(len(course_name))
print(course_name[0])
print(course_name[-1])
print(course_name[0:3])

18
P
g
Pyt

In [ ]:
#If you want to include a double quote within a string, you should use a back-slash or escape character
course = "Basic \"Python\" Programming"
print(course)
# \" is called an escape sequence. Another example of an escape sequence is \\ i.e. if you want a string that contains a back slash
# another eg of an escape sequence is \n which will insert a new line

Basic "Python" Programming

In [ ]:
first = "Sankar"
last = "Ramamurthy"
full = first + " " + last
print(full)
print(full.upper())
# strip method trims the spaces at the begining and end of a string. Alternatively there is lstrip and rstrip methods
# replace method replaces the specific portion of the string with another string
print(full.replace("Sankar", "Ganesh"))

Sankar Ramamurthy
SANKAR RAMAMURTHY
Ganesh Ramamurthy

# Numbers

In [ ]:
# Integers, Floats
# Arithematic operators
x = 20
y = 30
z = x + y
print("The sum of " + str(x) + " and " + str(y) + " is " + str(z))

print(10 / 3)
print(10 // 3)
print(10 % 3) #modulus
print(10 ** 3) #exponent

#Augmented assignment operator
x = 10
x += 3 # is same as x = x+3

The sum of 20 and 30 is 50
3.3333333333333335
3
1
1000

In [ ]:
# Useful numeric functions
print(round(2.9))
print(abs(-2.9))

3
2.9

In [ ]:
# Using mathematical modules for performing complex functions
import math
print(math.ceil(2.2))
#math module has several useful mathematical methods

3

In [ ]:
# Take user input
inp = input("x: ")
print(type(inp))
outp = int(inp) + 10 #using Type conversion to convert from string to int before adding
print(outp)

x: 20
<class 'str'>
30

# Comparison Operators

In [1]:
10 > 3

True

In [2]:
10 >= 3

True

In [3]:
10 == 10

True

In [4]:
10 != 5

True

In [5]:
"apple" > "Orange"

True

# Conditional Statements

In [7]:
temperature = 35
if temperature > 30:
  print("It is warm")
  print("Drink more water")
elif temperature > 20:
  print("It's nice")
else:
  print("It is cold")
print("Done")

It is warm
Drink more water
Done

In [8]:
age = 22
if age >= 18:
  message = "Eligible"
else:
  message = "Not Eligible"
print(message)

Eligible

In [9]:
age = 22
message = "Eligible" if age >= 18 else "Not Eligible"
print(message)

Eligible

There are 3 logical operators in Python - and, or, not

In [11]:
high_income = True
good_credit = True
student = False

if (high_income and good_credit) and not student:
  print("Eligible")
else:
  print("Not eligible")

Eligible

In [1]:
#Chaining comparison operators
# age should be between 18 and 65
age = 22
if 18 <= age < 65: #same as writing - if age >= 18 and age < 65
  print("Eligible")

Eligible

In [7]:
# For loop
for number in range(3):
  print("Attempt", number + 1, (number + 1) * ".")

# cleaner code
for number in range(1, 4):
  print("Attempt", number, number * ".")

# adding a step parameter to the range method
for number in range(1, 10, 2):
  print("Attempt", number, number * ".")

Attempt 1 .
Attempt 2 ..
Attempt 3 ...
Attempt 1 .
Attempt 2 ..
Attempt 3 ...
Attempt 1 .
Attempt 3 ...
Attempt 5 .....
Attempt 7 .......
Attempt 9 .........

In [8]:
# Exiting from the For loop based on condition
successful = True
for number in range(1, 4):
  print("Attempt", number, number * ".")
  if successful:
    print("Successful")
    break

Attempt 1 .
Successful

In [9]:
# for-else statement
successful = False
for number in range(1, 4):
  print("Attempt", number, number * ".")
  if successful:
    print("Successful")
    break
else:
  print("Attempted 3 times and failed")

Attempt 1 .
Attempt 2 ..
Attempt 3 ...
Attempted 3 times and failed

In [10]:
#Nested Loops
for x in range(5):
  for y in range(3):
    print(f"({x}, {y})") #printing formatted string

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [11]:
# Iterables
print(type(range(3))) # shows that the range function returns an object of type "range"
# primitive types are numbers, strings, boolean
# complex types e.g range
# the range object it iterable. i.e. it can be iterated using a for loop

<class 'range'>

In [12]:
# strings are also iterable objects
for x in "Python":
  print(x)

P
y
t
h
o
n

In [13]:
#Another example of a complex type is the List object
for x in [1, 2, 3, 4]:
  print(x)

1
2
3
4

In [14]:
# While Loop
number = 100
while number > 0:
  print(number)
  number //= 2

100
50
25
12
6
3
1

In [2]:
command = ""
while command.lower() != "quit":
  command = input(">")
  print("Echo", command)

# you can also use an infinite loop instead of initialising command variable to an empty string
# while True:
#   command = input(">")
#   print("Echo", command)
#   if command.lower() = "quit":
#     break

>hello
Echo hello
>QUIT
Echo QUIT

In [3]:
print(10 // 3)
print(10 % 3) #modulus

3
1

In [5]:
# print the even numbers between 1 and 10
even_count = 0
for num in range(1,10):
  #print(num)
  if (num % 2) == 0:
    print(num)
    even_count += 1
print(f"There are {even_count} even numbers between 1 and 10")

2
4
6
8
There are 4 even numbers between 1 and 10

# Defining Functions

In [9]:
# define a function that performs a task
def greet(first_name, last_name):
  print(f"Hi {first_name} {last_name}")
  print("Welcome aboard")


greet("Sankar", "Ramamurthy")

Hi Sankar Ramamurthy
Welcome aboard

In [12]:
# define a function that returns a variable
def get_greeting(first_name, last_name):
  return f"Hi {first_name} {last_name} !"


message = get_greeting("Sankar", "Ramamurthy")
print(message)
file = open("content.txt", "w")
file.write(message)

Hi Sankar Ramamurthy !

22

In [15]:
# function with optional parameter
def increment(number, by=1): # all the optional parameters should come after the required parameters
  return number + by


print(increment(2, by=1))
print(increment(2))
print(increment(2, by=5))

3
3
7

In [18]:
# fucntion that takes a variable number of arguments
def multiply(*numbers): #here, numbers is a type Tuple. Tuples are different from Lists in that you cannot modify a Tuple
  total = 1
  for number in numbers:
    total *= number
  return total


print(multiply(2, 3, 4, 5))

120