<a href="https://colab.research.google.com/github/sankarramamurthy/Python-Practice/blob/master/PythonForDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Types

In [ ]:
#There are 3 native Types in Python
# int - Integers, float - Decimals, str - Strings, Boolean - True/False
# Integers can be +ve or -ve
# typecasting is used to convert from one type to another
print(float(2))
print(int(1.1))
print(int('1'))
# print(int('A')) -- This will result in an error
print(int(True))
print(bool(0))

2.0
1
1
1
False

# Lists and Tuples

In [ ]:
# Tuples are an ordered sequence; comma-separated elements within paranthesis
# A Tuple can contain elements of multiple Types
# Tuples are immutable i.e. we cannot change the individual elements of a Tuple
ratings = (3, 2, 4, 1)
# ratings = sorted(ratings) -- this wont work
ratings_sorted = sorted(ratings)
print(ratings)
print(ratings_sorted)

# adding two tuples will create a tuple containing all the elements
ratings1 = (1, 2, 3, 4)
ratings2 = (5, 6, 7, 8)
print(ratings1 + ratings2)

# a Tuple can contain nested Tuples
nested_tuple = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
print(nested_tuple[2][0])
print(nested_tuple[2][1][0])

(3, 2, 4, 1)
[1, 2, 3, 4]
(1, 2, 3, 4, 5, 6, 7, 8)
pop
r

In [ ]:
# Lists are also an ordered sequence; represented by Square brackets
# Lists are mutable
my_list = [2, 3, 4, 5]
print(my_list)
my_list.extend([5, 6, 7])
print(my_list)
my_list.append(8)
print(my_list)
my_list[1] = "x"
print(my_list)
del(my_list[3])
print(my_list)

[2, 3, 4, 5]
[2, 3, 4, 5, 5, 6, 7]
[2, 3, 4, 5, 5, 6, 7, 8]
[2, 'x', 4, 5, 5, 6, 7, 8]
[2, 'x', 4, 5, 6, 7, 8]

In [ ]:
# Converting string to list
print("hard rock".split()) #space is used as the separator by default
print("A,B,C,D".split(",")) # "," is the delimiter

['hard', 'rock']
['A', 'B', 'C', 'D']

In [ ]:
# List aliasing
A = ["A", "B", "C", "D"]
B = A
print(A)
print(B)
A[1] = 2
print(A)
print(B)

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']
['A', 2, 'C', 'D']
['A', 2, 'C', 'D']

In [ ]:
# Clone one list from another
# in this case, changing A will not change C
C = A[:]
A[2] = 3
print(A)
print(C)

['A', 2, 3, 'D']
['A', 2, 'C', 'D']

# Dictionary

In [6]:
# It is a type of collection that has Keys and Values
# The keys have to be immutable & unique. Each key is follwed by a vlue, separated by a :
Dict = {"Thriller": 1982, "Back in Black": 1980, "The dark side of moon": 1983, "The Bodyguard": 1992}
print(Dict["Thriller"])
del(Dict["Thriller"])
print(Dict)
print("Back in Black" in Dict) #will return True if the Key exists in the dictionary
print(Dict.keys()) #will return all the keys in the dictionary as a List
print(Dict.values()) #will return all the values in the dictionary as a List

1982
{'Back in Black': 1980, 'The dark side of moon': 1983, 'The Bodyguard': 1992}
True
dict_keys(['Back in Black', 'The dark side of moon', 'The Bodyguard'])
dict_values([1980, 1983, 1992])

# Sets

In [9]:
# Sets are also a type of collection
# unlike lists and tuples, they're un-ordered. i.e. sets do not record element position
# they can only have unique elements
set1 = {"A", "A"}
print(set1) #Will have only one "A"
set1.add("B")
print(set1)
set2 = {"B", "C"}
set3 = set1.union(set2)
print(set3)

{'A'}
{'A', 'B'}
{'A', 'C', 'B'}

# Functions

In [3]:
# Functions Vs Methods
L1 = [1, 3, 2]
L2 = sorted(L1) # sorted is a function and it returns the sorted value of the list argument and the returned value gets stored in a new variable L2. So there is no change to L1
print(L1)
print(L2)
L1.sort() #sort is a method of type List and it sorts the list variable L1. It does not create a new list
print(L1)
L1.reverse() #reverses the order of elements in the list
print(L1)

[1, 3, 2]
[1, 2, 3]
[1, 2, 3]
[3, 2, 1]